*{
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    padding: 1rem 2rem;

        }
        .navbar{
            background-color:  #3498db;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding-right: 15px;
            padding-left: 15px;
        }
        .navdiv{
            
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .logo a{
            font-size: 35px;
            font-weight: 600;
            color: white;
        }
        li{
            list-style: none;
            display: inline-block;
        }
        li a{
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin-right: 25px;
        }
        button {
            background-color: black;
            border-radius: 10px;
            margin-left: 10px;
            padding: 10px;
            width: 100px;

            }
        button a{
            color: white;
            font-weight: bold;
            font-size: 15px;
        }




        
        
        
        .logo{
            font-size: 1.5rem;
            color: blue;
            font-weight: bold;
            font-size: 40px;
        }
        li{
            list-style: none;
            display: inline-block;
        }
        li a{
         font-size: 18px;   
         font-weight: bold;
         margin-right: 25px;
         color: black;
        }
        .nav-container{
            max-width: 1200px;
            margin-left: 0px;
            box-sizing: border-box;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 15px;
            padding-bottom: 25px;
        }
        .Website{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            margin-left: 12px;
            color: black;
            display: block;
            padding-top: 15px;
        }
        .rated{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            font-size: 40px;
            width: 400px;
            margin-top: 10px;
            margin-left: 12px;
            display: inline-block;
            padding-top: 15px;
            
            
        }
        .Nigeria{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border-radius: 10px;
            border-color: green;
            font-size: 33px;
            color: blue;
            background-color: ghostwhite;
            
        }
        .image{
            padding-top: 40px;
            height: 400px;
            width: 300px;
            float: right;
        }
        .note{
            width: 600px;
            font-size: 16px;
            margin-left: 12px;
            padding-bottom: 30px;
        }
        .Free{
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 5px;
            border-color: lightseagreen;
            background-color: lightseagreen;
            color: white;
            font-weight: bold;
            margin-left: 12px;

        }
        .followers{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 30px;
            font-weight: bold;
            justify-content: space-between;
            text-align: left;
            display: flex;
            max-width: 1200px;
            word-spacing: 12px;
        }
        .Flexible{
            font-size: 30px;
            text-align: left;
            padding-left: 20px;
            border-radius: 10px;
            height: 200px;
            padding-top: 60px;
            font-family: Arial, Helvetica, sans-serif;
            border-color: lightgreen;
            background-color: rgb(16, 207, 16);
            color: white;
            width: 400px;
            display: inline-block;
            margin-right: 20px;
        }
        .Work{
            font-size: 16px;
            
        }
        .Competitive{
            font-size: 30px;
            text-align: left;
            padding-left: 20px;
            border-radius: 10px;
            height: 200px;
            padding-top: 60px;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 10px;
            background-color: lightgoldenrodyellow;
            border-color: lightgoldenrodyellow;
            color: black;
            width: 400px;
            margin-left: 20px;
        }
        .Cleaning{
            font-size: 16px;
            
        }
        .Professional{
            font-size: 30px;
            text-align: left;
            padding-left: 20px;
            border-radius: 10px;
            height: 200px;
            padding-top: 60px;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 10px;
            background-color: lightgoldenrodyellow;
            border-color: lightgoldenrodyellow;
            color: black;
            width: 400px;
        }
        .Offer{
            font-size: 16px;
            
        }
        .US{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 20px;
            text-align: left;
        }
        .trusted{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            font-size: 30px;
            width: 450px;
        }
        .features{
            width: 600px;
            padding-bottom: 30px;
        }
        .Bold{
         font-weight: bold;   
        }
        .computer{
            width: 500px;
            height: 450px;
            float: right;
        }
        .Read{
            font-size: 24px;
            background-color: cornflowerblue;
            color: white;
            border-radius: 8px;
            border-color: cornflowerblue;
            cursor: pointer;
        }
        .Our{
            margin-top: 120px;
        }
        .Tailored{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
            width: 500px;
        }
        .more{
            font-size: 24px;
            border-radius: 8px;
            color: white;
            background-color: green;
            cursor: pointer;
            border-color: green;
            margin-right: 160px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .check{
            border-radius: 8px;
            color: white;
            background-color: green;
            cursor: pointer;
            border-color: green;
            margin-right: 70px;
            font-size: 24px;
        }
        .discount{
            font-size: 24px;
            border-radius: 8px;
            color: white;
            background-color: green;
            cursor: pointer;
            border-color: green;
            margin-right: 160px;
        }
        .mark{
            border-radius: 8px;
            color: white;
            background-color: green;
            cursor: pointer;
            border-color: green;
            margin-right: 70px;
            font-size: 24px;
        }
        .count{
            font-size: 24px;
            border-radius: 8px;
            color: white;
            background-color: green;
            cursor: pointer;
            border-color: green;
            margin-right: 160px;
        }
        .mak{
            border-radius: 8px;
            color: white;
            background-color: green;
            cursor: pointer;
            border-color: green;
            font-size: 24px;
        }
        .first{
            padding-left: 10px;
            padding-top: 20px;
            padding-right: 75px;
        }
        .second{
            padding-right: 75px;
        }
        .carpet{
            font-size: 24px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 30px;
            margin-right: 225px;
            border: none;
            margin-top: 10px;
        }
        .commercial{
            font-size: 24px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 100px;
            border: none;
            margin-bottom: 40px;
        }
        .window{
            font-size: 24px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            border: none;
        }
        .Restore{
            width: 350px;
        }
        .fourth{
            padding-left: 10px;
            padding-top: 20px;
            padding-right: 75px;
        }
        .fifth{
            padding-right: 75px;
        }
        .domestic{
            font-size: 24px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 30px;
            margin-right: 200px;
            border: none;
            margin-top: 10px;
        }
        .club{
            font-size: 24px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 210px;
            border: none;
            margin-bottom: 40px;
        }
        .after{
            font-size: 24px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            border: none;
        }
        .six{
            padding-left: 10px;
            padding-top: 30px;
            padding-right: 75px;
        }
        .seven{
            padding-right: 75px;
        }
        .school{
            font-size: 24px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 30px;
            margin-right: 230px;
            border: none; 
            margin-top: 10px;
        }
        .store{
            font-size: 24px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 260px;
            border: none;
            margin-bottom: 40px;
        }
        .regularly{
            font-size: 24px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            border: none;
        }
        .eight{
            padding-left: 10px;
            padding-top: 30px;
            padding-right: 75px; 
        }
        .nine{
            padding-right: 75px;   
        }
        .washroom{
            font-size: 24px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 30px;
            margin-right: 190px;
            border: none; 
            margin-top: 10px;
        }
        .tenancy{
            font-size: 24px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 150px;
            border: none;
            margin-bottom: 40px;
        }
        .airbnb{
            font-size: 24px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            border: none;
        }
        .slider{
            position: relative;
        }
        .background{
            width: 1250px;
            padding-top: 60px;
        }
        .appointment{
            position: absolute;
            top: 10%;
            left: 5%;
            font-size: 40px;
            padding-bottom: 700px;
            padding-right: 150px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            border: none;
            background-color: wheat;
            color: black;
            padding-left: 30px;
            padding-top: 50px;
        }
        .name{
            position: absolute;
            top: 30%;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            width: 250px;
            height: 50px;
            left: 7%;
            top: 25%;
            padding-left: 10px;
        }
        .email{
            position: absolute;
            top: 30%;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            width: 250px;
            height: 50px;
            right: 45%;
            top: 25%;
            padding-left: 10px;
        }
        .phone{
            position: absolute;
            top: 35%;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            width: 250px;
            height: 50px;
            left: 7%;
            padding-left: 10px;
        }
        .choose{
            position: absolute;
            top: 35%;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            width: 250px;
            height: 50px;
            right: 45%;
            top: 35%;
            padding-left: 10px;
        }
        .message{
            position: absolute;
            top: 40%;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            width: 500px;
            height: 150px;
            left: 7%;
            top: 50%;
            padding-left: 10px;
        }
        .submit{
            position: absolute;
            top: 70%;
            width: 120px;
            height: 70px;
            cursor: pointer;
            font-size: 20px;
            border-radius: 5px;
            border: none;
            left: 7%;
            padding-left: 10px;
        }
        .process{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            text-align: center;
            margin-top: 90px;
            font-weight: bold;
        }
        .efficient{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            text-align: center;
            margin-top: 20px;
            font-weight: bold;

        }
        .icon{
            position: relative;
        }
        .empty{
            position: absolute;
            width: 100px;
            height: 90px;
            margin-left: 150px;
            border-radius: 8px;     
        }
        .e-internet{
            width: 60px;
            margin-left: 170px;
            position: absolute;
            margin-top: 15px;
        }
        .invalid{
            position: absolute;
            width: 90px;
            height: 90px;
            border-radius: 8px;
            margin-left: 600px;
        }
        .boot{
            position: absolute;
            margin-top: 20px;
            width: 60px;
            margin-left: 620px;
        }
        .valid{
            position: absolute;
            width: 90px;
            height: 90px;
            border-radius: 8px;
            margin-left: 1000px;
        }
        .book{
            position: absolute;
            width: 60px;
            margin-left: 1020px;
            margin-top: 10px;
        }
        
        .find{
            font-size: 20px;
            margin-top: 100px;
            margin-left: 150px;
            font-weight: bold;
            border: none;
        }
        .location{
            font-size: 20px;
            margin-left: 300px;
            font-weight: bold;
            border: none;
        }
        .calendar{
            font-size: 20px;
            margin-left: 180px;
            font-weight: bold;
            border: none;
        }
        .easily{
            width: 300px;
            margin-left: 50px;
            font-size: 18px;
            border: none;
            margin-top: 20px;
        }
        .variety{
            width: 350px;
            margin-left: 110px;
            font-size: 18px;
            border: none;
            margin-top: 20px;
        }
        .clicks{
            width: 350px;
            margin-left: 50px;
            font-size: 18px;
            border: none;
            margin-top: 20px;
        }
        .surrond{
            position: relative;
        }
        .clinge{
            width: 1250px;
            height: 500px;
            margin-top: 30px;
        }
        .achieve{
            position: absolute;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            top: 5%;
            left: 40%;
            font-size: 22px;
            color: wheat;
        }
        .spot{
            position: absolute;
            font-family: 'Times New Roman', Times, serif;
            font-size: 36px;
            top: 10%;
            left: 40%;
            width: 450px;
            color: wheat;
        }
        .person{
            position: absolute;
            width: 80px;
            top: 35%;
            right: 85%;
        }
        .document{
            position: absolute;
            width: 80px;
            top: 35%;
            right: 60%;
        }
        .solid{
            position: absolute;
            width: 80px;
            top: 35%;
            right: 35%;
        }
        .elementor{
            position: absolute;
            width: 80px;
            top: 35%;
            right: 10%;
        }
        .K{
            position: absolute;
            font-size: 80px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            top: 40%;
            left: 7%;
        }
        .L{
            position: absolute;
            font-size: 80px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            top: 40%;
            left: 30%;
        }
        .M{
            position: absolute;
            font-size: 80px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            top: 40%;
            left: 55%;
            color: white;
        }
        .N{
            position: absolute;
            font-size: 80px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            top: 40%;
            left: 82%;
            color: white;
        }
        .provide{
            position: absolute;
            top: 70%;
            left: 6%;
            color: white;
        }
        .order{
            position: absolute;
            top: 70%;
            left: 33%;
            color: white;
        }
        .team{
            position: absolute;
            top: 70%;
            left: 57%;
            color: white;  
        }
        .star{
            position: absolute;
            top: 70%;
            left: 83%;
            color: white;    
        }
        